@media (max-width: 1440px) {
  .container{
    width: 720px;
  }
    .slider img, .card {
      width: 290px !important;
      height: 220px !important;

    }
  .bg-image.gridImg{
    margin-left: 2rem;
  }
  .bg-image.gridImg2{
    margin-left: 10rem;

  }
  .section.slider.twee{
    overflow:hidden;

  }
  .swiper-slide{
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .gap{
    padding: 2rem;
  }

  .gap-sm{
    padding: 1rem;
  }
}


@media (min-width: 360px ) and (max-width: 810px) {
  .mobilenav{
    display: block !important;
   }
   .mobile{
     display:block !important;
   }
   .desktop{
      display:none !important;
   }
   .desktop-nav{
    display: none;
  }
}

@media (max-width: 810px) {
  .section.slider.twee{
    overflow:hidden;

  }

  .gridImg2{
    display:none;
  }
  .container{
    width: 720px;
  }
  .slider img, .card {
    width: 290px !important;
    height: 220px !important;

  }
  .bg-image.gridImgMobile{
    margin-left: 8rem ;
  }
  .bg-image.gridImg2{
    margin-left: 10rem;

  }



}
@media (min-width: 460px) and (max-width: 480px){
  .title{
    font-size: 3rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2{
    width: 400px;
    height: 400px;
  }
  .bg-image.gridImg2{
    margin-left: 0.5rem;
  }
  .hero .btn-green{
    margin-left: -4rem;
  }
  .black{
    margin-left: 5rem;
  }

}
@media (min-width: 412px) and (max-width: 450px) {
  .container{
    width: 207px;
  }
 
  .title{
    font-size: 3.5rem;
  }
  .hero .btn-green{
    margin-left: -29%;
  }
  .bg-image.gridImg, .bg-image.gridImgMobile{
    margin-left: 3.5rem !important;
    height: 310px;
    width: 310px;
  }
  .bg-image.gridImg2{
    margin-left: 2.2rem !important;
    height: 310px;
    width: 310px;

  }
  .title.black, .subtitle.black{
    margin-left: 13%;
  }
  .splitGrid .btn-green{
    margin-left: 13%;
  }
  .fullimg .text-white{
    margin-top: 15rem;
  }
  .section.slider.twee{
    overflow:hidden;
  }
  

}

@media (min-width: 390px) and (max-width: 410px){
  .title{
    font-size: 2rem;
  }
  .bg-image.gridImg {
    margin-left: 0.7rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2{
    height: 350px;
    width: 350px;

  }
  .black {
    margin-left: 3rem;
  }
  .bg-image.gridImg2 {
    margin-left: -1rem;
  }
  .hero .btn-green{
    margin-left: -5rem;
  }
  .splitGrid .btn-green{
    margin-left: 5rem;
  }
}  

@media (max-width: 384px){
  .section.slider.twee{
    overflow:hidden;

  }
  .title {
    font-size: 2.7rem;
  }
  .hero .btn-green {
    margin-left: -35%;
  }
  .fullimg .subtitle {
    font-size: 2rem;
    width: 65%;
    margin-left: 16%;
    margin-top: 8rem;

  }

  .splitGrid .btn-green{
    margin-left: 13%;
  }
  .bg-image.gridImg, .bg-image.gridImgMobile{
    margin-left: 2.5rem !important;
    height: 310px;
    width: 310px;
  }
  .bg-image.gridImg2{
    margin-left: 1rem !important;
    height: 310px;
    width: 310px;

  }
  .black{
    margin-left: 5rem;
  }
  .swiper-slide{
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}


@media (max-width: 375px) {
  .title {
    font-size: 2.5rem;
  }
  .hero .btn-green {
    margin-left: -35%;
  }
  .black{
    margin-left: 5rem;
  }
  .btn-green.split{
    margin-left: 5rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2{
    margin-left: 2rem;
    height: 310px;
    width: 310px;
  }
  .gridImg2{
    margin-left:0.5rem;
  }
  .fullimg .subtitle {
    font-size: 2rem;
    width: 65%;
    margin-left: 17%;
    margin-top: 8rem;
  }
  .swiper-slide {
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}



