@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
:root {
  --btn-light: #3cb858;
  --btn-dark: #0a1e0e;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  background-color: #F4F4F4;
}

.no-color {
  background-color: white !important;
  border: none !important;
}
.no-color div > ul li a {
  color: black !important;
  font-size: 1.4em;
  padding-top: 2.5rem;
}

.navbar-brand img {
  margin-left: 3.5rem;
}

li.active a {
  background-color: white !important;
}

.flex-container {
  display: flex;
}

header .flex-container {
  text-align: center;
}

.heroImg {
  background-image: url("../../assets/1.jpg");
  height: 690px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .mask {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-green {
  background-color: var(--btn-light) !important;
  padding: 2rem 4rem !important;
}

.btn-green, .title, .subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 5rem;
  color: white;
  font-family: "Roboto Slab", serif !important;
  text-align: center;
}

.subtitle {
  color: white;
}

.subtitle.black {
  font-weight: 300;
}

.slider img {
  width: 400px !important;
  height: 294px !important;
  margin: 0 25px 0 25px !important;
}

.slider p {
  margin: 0 4px 0 45px !important;
  font-family: "roboto slab", serif !important;
  font-size: 1.7rem !important;
}

.slider.twee p {
  font-size: 1.7rem !important;
  color: green;
  text-align: left;
  padding-bottom: 1rem;
  padding-top: 3rem;
  font-family: "Poppins", sans-serif !important;
  font-weight: normal;
  margin: 0 1px 0 24px !important;
}

.slider {
  margin-top: 10rem;
  margin-bottom: 30rem;
}

.slider.een {
  margin-bottom: 10rem;
}

.card {
  text-align: center;
  border-radius: 0.2vw 0.2vw 0 0;
  width: 400px;
  margin: 0 25px 0 25px !important;
  -webkit-box-shadow: 2px 12px 19px -6px rgba(147, 147, 147, 0.15);
  box-shadow: 2px 12px 19px -6px rgba(147, 147, 147, 0.15);
}

.card img {
  border-radius: 0.2vw 0.2vw 0 0;
  width: 400px;
  margin: 0 !important;
}

.bttm h2 {
  padding: 2rem 2.5rem 0 2.5rem;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.bg-image.gridImg {
  background-image: url("../assets/6.jpg");
  height: 620px;
  width: 620px;
  background-size: cover;
  margin-left: 10rem;
}

.bg-image.gridImg2 {
  background-image: url("../assets/8.jpg");
  height: 620px;
  width: 620px;
  background-size: cover;
  margin-left: 40rem;
}

.bg-image.gridImgMobile {
  background-image: url("../assets/8.jpg");
  height: 620px;
  width: 620px;
  background-size: cover;
  margin-left: 40rem;
}

.splitTwee {
  background-color: #E4E5E6;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.black {
  color: black;
  margin-left: 10rem;
  text-align: left;
}

h2.black {
  width: 100%;
}

p.black {
  width: 75%;
  font-size: 1.7rem;
}

.splitGrid {
  margin-bottom: 20rem;
}

.split {
  margin-left: 10rem;
  margin-top: 5rem;
}

.fullimg .text-white {
  margin-top: 20rem;
}

.fullimg .subtitle {
  font-size: 2rem;
  width: 65%;
  margin-left: 20%;
  margin-top: 8rem;
}

.fullimg .btn-green {
  margin-top: 5rem;
}

.fullImg {
  background-image: url("../assets/7.jpg");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullimg .mask {
  display: flex;
  justify-content: center;
  height: 100%;
}

footer {
  background-color: #1F333C;
  padding: 2rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footer-title h2 {
  color: white;
  font-size: 21.32px;
}
footer li a {
  color: white;
}

.mobile {
  display: none !important;
}

.gap {
  padding: 2rem;
}

.gap-sm-ns {
  padding: 1rem;
}

.mobilenav {
  display: none;
}

.desktop {
  display: block;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100rem;
}

.splitGrid .title.black {
  font-size: 3.5rem;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav #myLinks a {
  color: black;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
}

.bg-image.gridImg {
  margin-left: 7rem;
}

h2.black {
  width: 75%;
}

.swiper-slide {
  height: 35rem !important;
}

.slider {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* customise website scrollbars*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

@supports (scrollbar-color: red white) {
  * {
    scrollbar-color: red white;
  }
}
@media (max-width: 1440px) {
  .container {
    width: 720px;
  }
  .slider img, .card {
    width: 290px !important;
    height: 220px !important;
  }
  .bg-image.gridImg {
    margin-left: 2rem;
  }
  .bg-image.gridImg2 {
    margin-left: 10rem;
  }
  .section.slider.twee {
    overflow: hidden;
  }
  .swiper-slide {
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .gap {
    padding: 2rem;
  }
  .gap-sm {
    padding: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 810px) {
  .mobilenav {
    display: block !important;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .desktop-nav {
    display: none;
  }
}
@media (max-width: 810px) {
  .section.slider.twee {
    overflow: hidden;
  }
  .gridImg2 {
    display: none;
  }
  .container {
    width: 720px;
  }
  .slider img, .card {
    width: 290px !important;
    height: 220px !important;
  }
  .bg-image.gridImgMobile {
    margin-left: 8rem;
  }
  .bg-image.gridImg2 {
    margin-left: 10rem;
  }
}
@media (min-width: 460px) and (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2 {
    width: 400px;
    height: 400px;
  }
  .bg-image.gridImg2 {
    margin-left: 0.5rem;
  }
  .hero .btn-green {
    margin-left: -4rem;
  }
  .black {
    margin-left: 5rem;
  }
}
@media (min-width: 412px) and (max-width: 450px) {
  .container {
    width: 207px;
  }
  .title {
    font-size: 3.5rem;
  }
  .hero .btn-green {
    margin-left: -29%;
  }
  .bg-image.gridImg, .bg-image.gridImgMobile {
    margin-left: 3.5rem !important;
    height: 310px;
    width: 310px;
  }
  .bg-image.gridImg2 {
    margin-left: 2.2rem !important;
    height: 310px;
    width: 310px;
  }
  .title.black, .subtitle.black {
    margin-left: 13%;
  }
  .splitGrid .btn-green {
    margin-left: 13%;
  }
  .fullimg .text-white {
    margin-top: 15rem;
  }
  .section.slider.twee {
    overflow: hidden;
  }
}
@media (min-width: 390px) and (max-width: 410px) {
  .title {
    font-size: 2rem;
  }
  .bg-image.gridImg {
    margin-left: 0.7rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2 {
    height: 350px;
    width: 350px;
  }
  .black {
    margin-left: 3rem;
  }
  .bg-image.gridImg2 {
    margin-left: -1rem;
  }
  .hero .btn-green {
    margin-left: -5rem;
  }
  .splitGrid .btn-green {
    margin-left: 5rem;
  }
}
@media (max-width: 384px) {
  .section.slider.twee {
    overflow: hidden;
  }
  .title {
    font-size: 2.7rem;
  }
  .hero .btn-green {
    margin-left: -35%;
  }
  .fullimg .subtitle {
    font-size: 2rem;
    width: 65%;
    margin-left: 16%;
    margin-top: 8rem;
  }
  .splitGrid .btn-green {
    margin-left: 13%;
  }
  .bg-image.gridImg, .bg-image.gridImgMobile {
    margin-left: 2.5rem !important;
    height: 310px;
    width: 310px;
  }
  .bg-image.gridImg2 {
    margin-left: 1rem !important;
    height: 310px;
    width: 310px;
  }
  .black {
    margin-left: 5rem;
  }
  .swiper-slide {
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 2.5rem;
  }
  .hero .btn-green {
    margin-left: -35%;
  }
  .black {
    margin-left: 5rem;
  }
  .btn-green.split {
    margin-left: 5rem;
  }
  .bg-image.gridImg, .bg-image.gridImg2 {
    margin-left: 2rem;
    height: 310px;
    width: 310px;
  }
  .gridImg2 {
    margin-left: 0.5rem;
  }
  .fullimg .subtitle {
    font-size: 2rem;
    width: 65%;
    margin-left: 17%;
    margin-top: 8rem;
  }
  .swiper-slide {
    height: 35rem !important;
  }
  .slider {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
